ul {
    list-style: none;
    font-size: large;
    margin: 1rem;
}


.name button {
    color: black;
}

#error {
    position: absolute;
    margin: 0 auto;
    padding: 0 1rem;
    bottom: -8rem;
    left: 0;
    right: 0;
    width: max-content;
    font-size: 3rem;
    color: #C00;
    background-color: #000;
}

form {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .name-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .name-list {
    min-width: 30%;
    list-style: none;
  }
  
  .name {
    margin: 0.5rem;
    background: white;
    color: black;
    font-size: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50vh;
  }
  
  .name li {
    flex: 1;
  }
