.card {
  width: 100%;
  height: 100%;
  
display: block;

  transform-style: preserve-3d;
  transform-origin: 50% 50%;
position: absolute;
cursor: pointer;
box-shadow: .2em .2em .5em #333;
border-radius: .3em;
margin: 0 .5em .5em 0;
text-align: center;
font-size: 1.2em; 
font-weight: normal;
font-family: Arial, sans-serif;

}

.inner {
  padding: inherit;
border-radius: 0.3em;
position: absolute;
height: 100%;
width: 100%;
backface-visibility: hidden;
}
.front {

  background-image: url("../media/back.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-color: cornsilk;

}
.back {

background:gray;
transform: rotateY( 180deg );
}
.hand {    
       position: relative;
       top: 12em;
       
      width:  9em;
      height: 13.5em;

}
.picked > .card {
  position: static;
  transform: rotateY(180deg);
  width: 6em;
  height: 9em;
}
#showplayer-screen > .container {
  overflow-y: auto;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
}
.picked { 
  /* display: none; */
    position: absolute;
    /* top: 14em; */
    top: 90vh;
    
     background-color: lawngreen;

}
.scene {
  perspective: 600px;
}

.stoner {
  background-color: darkmagenta;
}
.villan {
  background-color: darkred;
}

.hero {
  background-color: darkslateblue;
}