.fly-out-left {
	animation: fly-left .5s;
}

.fly-in-left {
	animation: fly-right .5s reverse;
}

.fly-out-right {
	animation: fly-right .5s;
}

.fly-in-right {
	animation: fly-left .5s reverse;
}

@keyframes fly-left {
	to {
		left: -100%;
	}
}

@keyframes fly-right {
	to {
		left: 200%;
	}
}


.page {
    
	position: fixed;
	margin-right: -50%;
	top: 50%;
	left: 0;
    width: 100vw;
    
    transform: translateY(-50%);
}

.fullscreen-btn {
    margin: 0;
    position: absolute;
    top: 2vh;
}
.fs-on {
    background-color: #34495e;
    color: white;
}

button {
	font-size: 2rem;
    color: #ecf0f1;
    background: #2ecc71;
    padding: .5rem;
    margin: .5rem;
	border: none;
    cursor: pointer;
    outline: none;
}

button:hover,
button:focus {
    
    color: white;
    
    
}

.home-menu, .add-player, .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    
}
.home-menu > button {
    max-width: 200px;
    width: 30vw;
}
.name {
    font-size: 1rem;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    background-color: teal;
    padding: 0 1em;
    margin: 1em;
    color: white;
}
.name-list {
    margin: 0;
    padding: 0;
}
.name-container {
    overflow-x: visible;
    overflow-y: auto;
    max-height: 40vh;
    background-color: whitesmoke;
    padding: 1em;
    width: 250px;
    
}
.trash-btn {
    font-size: 1rem;
}
.nav {
    position: relative;
    top: 2em;
}
.name-input {
    height: 30px;
    width: 100%;
}
.name-button {
    background-color: gray;
    color: white
}
.name-button:hover,
.name-button:focus {
    background-color: #333 ;
}
form {
    padding: .5em;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 30vw;
    min-width: 300px;
    
}
#error {
    z-index: 100;
    background-color: red;
    color: white;
    margin-bottom: 1em;
    position: absolute;
    width: 100%;
    text-align: center;
}
