.fly-out-left {
	animation: fly-left .5s;
}

.fly-in-left {
	animation: fly-right .5s reverse;
}

.fly-out-right {
	animation: fly-right .5s;
}

.fly-in-right {
	animation: fly-left .5s reverse;
}

@keyframes fly-left {
	to {
		left: -100%;
	}
}

@keyframes fly-right {
	to {
		left: 200%;
	}
}


.page {
    
	position: fixed;
	margin-right: -50%;
	top: 50%;
	left: 0;
    width: 100vw;
    
    transform: translateY(-50%);
}

.fullscreen-btn {
    margin: 0;
    position: absolute;
    top: 2vh;
}
/* .fs-on {
    background-color: green;
    color: white;
} */

.btn {
	font-size: 2rem;
    color: #ecf0f1;
    background-color: rgba(51, 51, 51,0.5);;
    padding: .5rem;
    margin: .5rem;
	border: none;
    cursor: pointer;
    outline: none;
    border-radius: 0.1em;
}

.btn:hover,
.btn:focus {
    background-color: rgba(51, 51, 51,0.9);;
    color: white;
    
    
}

.home-menu, .add-player, .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    
}
.home-menu > .btn {
    width: 200px;
    padding: 0.5rem 1rem;
}
.name {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.3rem;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    background-color:rgba(52,73,94,0.5);
    padding: 0 1em;
    margin: 1em;
    color: white;
}
.name-list {
    
    margin: 0;
    padding: 0;
}
.name-container {
    background-color: rgba(52,73,94,0.2);
    overflow-x: visible;
    overflow-y: auto;
    max-height: 40vh;
    padding: 1em;
    width: 250px;
    
}
.trash-btn {
    
    font-size: 1rem;
    background-color: rgba(26, 26, 26,0.5);
    font-size: 1em;
    height: 1.5em;
    
}
.trash-btn:hover {
    background-color: rgba(26, 26, 26,0.9);
}
.nav {
    position: relative;
    top: 2em;
}
.name-input {
    border: none;
    border-radius: 0.3em;
    height: 30px;
    width: 100%;
}
.name-button {
    background-color: rgba(51, 51, 51,0.6);
    color: white
}
.name-button:hover,
.name-button:focus {
    background-color: #333 ;
}
form {
    padding: .5em;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 30vw;
    min-width: 300px;
    
}
#error {
    
    z-index: 100;
    background-color: red;
    color: white;
    margin-bottom: 1em;
    position: absolute;
    width: 100%;
    text-align: center;
}

button {
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
}
.previous {
    background-color:rgba(241, 241, 241,0.8);
    color: black;
  }
  
  .next {
    background-color: rgba(51, 51, 51,0.6);
    color: white;
  }
  
  .round {
    text-align: center;
    width: 3em;
    height: 3em;
    border-radius: 50%;

  }

  .round:hover,
  .round:focus{
    background-color: rgba(241, 241, 241,0.8);
    color: black;
  }

  html {
    height: 100%;
}
body {
    height: 100%;
      background-image: linear-gradient(#E70001 , #FFE000, #008542);
      color: #fff;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
.title {
    font-size: 6em;

}
  
  /* width
  ::-webkit-scrollbar {
    width: 2em;
    
  }
  
  /* Track */
  /* ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;  */
    /* border-radius: 2em; */
  /* }
   
  ::-webkit-scrollbar-thumb {
    background: url(../media/back.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #34495e; */
    /* border-radius: 2em; */
  /* } */
  
  /* Handle on hover */
  /* ::-webkit-scrollbar-thumb:hover {
    /* background: #333;  */
  /* }  */

  #dificulty::-webkit-scrollbar {
      display: none;
  }
  #dificulty{
    width: 30vw;
    max-width: 250px;
    height: 20vh;
    display: flex;
    flex-direction: column;
    background-color: rgba(51, 51, 51,0.3);
    outline: none;
    font-size: 1em;
    font-family: inherit;
    border: none;
    border-radius: 0.2em;
    
  }
  #dificulty > option {
      text-align: center;
      padding: 0;
      height: calc(100%/4);
      
  }


  
